<%= form_with(model: appointment_group) do |form| %>
  <% if appointment_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment_group.errors.count, "error") %> prohibited this appointment_group from being saved:</h2>

      <ul>
        <% appointment_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
