<%= form_with(model: appointment_question_response) do |form| %>
  <% if appointment_question_response.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment_question_response.errors.count, "error") %> prohibited this appointment_question_response from being saved:</h2>

      <ul>
        <% appointment_question_response.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :appointment_question_id, style: "display: block" %>
    <%= form.text_field :appointment_question_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
