<%# <%= form_with(model: appointment_question_response) do |form| %1> %>
<%#   <% if appointment_question_response.errors.any? %1> %>
<%#     <div style="color: red"> %>
<%#       <h2><%= pluralize(appointment_question_response.errors.count, "error") %1> %>
<%#         prohibited this appointment_question_response from being saved:</h2> %>

<%#       <ul> %>
<%#         <% appointment_question_response.errors.each do |error| %1> %>
<%#           <li><%= error.full_message %1></li> %>
<%#         <% end %1> %>
<%#       </ul> %>
<%#     </div> %>
<%#   <% end %1> %>

<%#   <div> %>
<%#     <%= form.label :appointment_question_id, style: "display: block" %1> %>
<%#     <%= form.text_field :appointment_question_id %1> %>
<%#   </div> %>

<%# appointment_question_response[appointment_question_option][appointment_question_option_id] %>

<%= form_with(model: PatientAppointment.new, url: appointment_question_responses_path) do |form| %>
  <% @appointment_groups.each do |appointment_group| %>
    <h1><%= appointment_group.name %></h1>

    <hr/>

    <% appointment_group.appointment_titles.each do |appointment_title| %>
      <h2><%= appointment_title.name %></h2>

      <% appointment_title.appointment_questions.each_with_index do |appointment_question, index| %>

        <h3><%= appointment_question.eye_side %></h3>

        <%= form.hidden_field "responses[][appointment_question_id]",
                          value: appointment_question.id %>
        <%= form.collection_select(
          "responses[][appointment_question_option_id]",
          appointment_question.appointment_question_options,
          :id,
          :name,
          { id: "#{appointment_question}-#{index}" }
        ) %>

      <% end %>
    <% end %>
  <% end %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
